:root {
  --main-color: darkred;
  --secondary-color: #333;
  --background-color: rgb(249, 247, 247);
  --menu-item-background: white;
  --menu-item-border: black;
  --menu-item-shadow: #ccc;
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(249, 247, 247);
  padding: 40px;
  color: black;
}

/* pixels - px, relative - %, em - relative to font size, rem - relative to root font size */

h1 {
  color: darkred;
  font-size: 32px;
  text-align: center;
}

h2 {
  color: #333;
}

.restaurant-intro {
  text-align: center;
  font-size: 2rem; /* 2 times the root font size */
  margin-bottom: 20px;
}

.restaurant-text {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
}

.menu-item {
  position: relative;
  width: 300px;
  /*width: 40%; */ /* 40% of the parent container "Body" */
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 10px #ccc;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px 0;
}
